/* 
    This is my own CSS for styling the page.
*/
body{
    background: linear-gradient(rgb(236, 193, 201), rgb(219, 106, 129));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

form{
    width: 40%;
    margin: auto;
    padding: 5%;
    text-align: center;
}

input,
button,
label{
    color: whitesmoke;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(39, 2, 65);
    text-align: center;
    box-shadow: 15px 10px 10px rgba(93, 5, 255, 0.7);
}

div{
    display: none;
    background-color: rgb(39, 2, 65);
    box-shadow: 15px 10px 10px rgba(93, 5, 255, 0.7);
    color: whitesmoke;
    text-align: center;
    align-items: center;
    padding: 1%;
    margin:  5% 3% auto 5%;
    width: 22%;
    float: left;
}

span{
    padding: 10px;
    font-size: 18px;
    margin: 15px;
}